<div class="popup-seo">
  <div class="seo-wrap">
    <div class="content-title">
      <div class="title-img"></div>
    </div>
    <div class="container seo-content">
      <div class="seo-box">
        <div class="seo-frame">
          <div class="img-outside">
            <div class="seo-img img1" [class.is-slide]="!isSlide"></div>
            <div class="seo-img img2" [class.is-slide]="isSlide"></div>
            <div class="img-mask is-web">
              <ul class="mask-list">
                <li class="list-item">企業體質健診</li>
                <li class="list-item">技術諮詢指導</li>
                <li class="list-item">建置維運導入協助</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="img-mask is-mobile">
          <ul class="mask-list">
            <li class="list-item">企業體質健診</li>
            <li class="list-item">技術諮詢指導</li>
            <li class="list-item">建置維運導入協助</li>
          </ul>
        </div>
      </div>
      <div class="seo-describe">
        <div class="describe-title">資訊顧問服務</div>
        <div class="describe-text is-web">
          <p>讓具有多年業界經驗結合了技術與豐富實戰經驗的專家，為您的理想量身打造出一條龍服務方案，從企業體質健診、需求分析、產品建議、採購建置、導入輔導上線使用與後續維運規劃/技術諮詢…等，拓品可提供您全方面的服務，讓您的公司在變化萬千市場上擁有強大的競爭力！</p>
          <p>您放心交給我們，我們讓市場看到您！</p>
        </div>
        <button class="btn-contactUs is-web" (click)="contact()">聯絡我們</button>
      </div>

      <div class="describe-text is-mobile">
        <p>讓具有多年業界經驗結合了技術與豐富實戰經驗的專家，為您的理想量身打造出一條龍服務方案，從企業體質健診、需求分析、產品建議、採購建置、導入輔導上線使用與後續維運規劃/技術諮詢…等，拓品可提供您全方面的服務，讓您的公司在變化萬千市場上擁有強大的競爭力！</p>
        <p>您放心交給我們，我們讓市場看到您！</p>
      </div>
    </div>
    <button class="btn-contactUs is-mobile" (click)="contact()">聯絡我們</button>
  </div>

</div>
