<div class="popup-responsive">
  <div class="responsive-wrap">
    <div class="content-title">
      <div class="title-img"></div>
    </div>

    <div class="container responsive-content">
      <div class="responsive-box">
        <div class="responsive-frame">
          <div class="img-outside">
            <div class="responsive-img img1" [class.is-slide]="!isSlide"></div>
            <div class="responsive-img img2" [class.is-slide]="isSlide"></div>
          </div>
        </div>

      </div>
      <div class="responsive-describe">
        <div class="describe-title">VR虛擬實境應用開發</div>
        <div class="describe-text is-web">
          <p>透過VR技術的透過擬真視覺、聽覺帶來的沈浸式特性、整合各式 體感與多媒體互動，創造出近乎現實的虛擬世界，不論應用在體感娛樂互動、商業展示、知識導覽、專業教學...等方面，皆比傳統的展示方法更深度體驗且了解產品！</p>
          <p>而利用這項技術，讓各種行為不一定進行採購，就可以透過虛擬設備達到更好的使用效果！</p>
          <p>您可以向全世界展示您的商品，而且客戶也可以透過裝置無死角去鑑賞選購！ 也可以透過虛擬的情境演練，讓人員可在近乎實境的情況下進行學習與訓練！</p>
          <p>選擇拓品，您可以得到您想要的！</p>

        </div>
        <button class="btn-contactUs is-web" (click)="contact()">聯絡我們</button>
      </div>

      <div class="describe-text is-mobile">
        <p>透過VR技術的透過擬真視覺、聽覺帶來的沈浸式特性、整合各式 體感與多媒體互動，創造出近乎現實的虛擬世界，不論應用在體感娛樂互動、商業展示、知識導覽、專業教學...等方面，皆比傳統的展示方法更深度體驗且了解產品！</p>
        <p>而利用這項技術，讓各種行為不一定進行採購，就可以透過虛擬設備達到更好的使用效果！</p>
        <p>您可以向全世界展示您的商品，而且客戶也可以透過裝置無死角去鑑賞選購！ 也可以透過虛擬的情境演練，讓人員可在近乎實境的情況下進行學習與訓練！</p>
        <p>選擇拓品，您可以得到您想要的！</p>
      </div>
    </div>
    <button class="btn-contactUs is-mobile" (click)="contact()">聯絡我們</button>
  </div>

</div>
