<div class="popup-customized">
  <div class="customized-wrap">
    <div class="content-title">
      <div class="title-img"></div>
    </div>
    <div class="container customized-content">
      <div class="customized-box">
        <div class="customized-frame">
          <div class="img-outside">
            <div class="customized-img img1" [class.is-slide]="!isSlide"></div>
            <div class="customized-img img2" [class.is-slide]="isSlide"></div>
            <div class="img-mask is-web">
              <ul class="mask-list">
                <li class="list-item">強烈的企業辨識度</li>
                <li class="list-item">提升品牌知名度</li>
                <li class="list-item">符合裝置的響應式設計</li>
                <li class="list-item">更流暢的使用體驗</li>
                <li class="list-item">以客為尊的服務設計</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="img-mask is-mobile">
          <ul class="mask-list">
            <li class="list-item">強烈的企業辨識度</li>
            <li class="list-item">提升品牌知名度</li>
            <li class="list-item">符合裝置的響應式設計</li>
            <li class="list-item">更流暢的使用體驗</li>
            <li class="list-item">以客為尊的服務設計</li>
          </ul>
        </div>
      </div>
      <div class="customized-describe">
        <div class="describe-title">客製化網站開發</div>
        <div class="describe-text is-web">
          <p>要做就要做到獨一無二，讓每個人都印象深刻！</p>
          <p>拓品團隊擁有來自不同業界資深資歷的武林高手，創造過無數個令人驚豔的產品！可依照您行業特性、主打印象、行銷方式、作業 流程、預算量身打造最適合最具辨識度的客製化設計！</p>
          <p>我們提供最專業的設計服務，站在您的角度以不同面向思考，以幫助您實現內心最真實的期盼，讓您與您的企業能夠得到最好最能夠輔助您邁向成功之路的事業夥伴！</p>
          <p>從規劃、設計、製作、行銷、建置、上線、顧問、客服、保固，完全一條龍服務！</p>
          <p>請放心地交給我們，絕對讓您獲得超越200%的服務體驗！</p>
        </div>
        <button class="btn-contactUs is-web" (click)="contact()">聯絡我們</button>
      </div>

      <div class="describe-text is-mobile">
        <p>要做就要做到獨一無二，讓每個人都印象深刻！</p>
        <p>拓品團隊擁有來自不同業界資深資歷的武林高手，創造過無數個令人驚豔的產品！可依照您行業特性、主打印象、行銷方式、作業流程、預算量身打造最適合最具辨識度的客製化設計！</p>
        <p>我們提供最專業的設計服務，站在您的角度以不同面向思考，以幫助您實現內心最真實的期盼，讓您與您的企業能夠得到最好最能夠輔助您邁向成功之路的事業夥伴！</p>
        <p>從規劃、設計、製作、行銷、建置、上線、顧問、客服、保固，完全一條龍服務！</p>
        <p>請放心地交給我們，絕對讓您獲得超越200%的服務體驗！</p>
      </div>
    </div>
    <button class="btn-contactUs is-mobile" (click)="contact()">聯絡我們</button>
  </div>

</div>
